.mainFooter{
    display: flex;
    height:180px;
    background-color: rgb(233, 233, 233);
    justify-content: center;
}

.mainFooter>div{
    padding-right: 40px;
    padding-left: 20px

}
.mainFooter>div>p{
    padding: 10px 0;
}

.customer{
    margin-top: 20px;
}
.mainFooter{
padding-right: 50px;
}

.headerr{
    color:rgb(45, 50, 66);
    border-bottom: 1px rgb(66, 54, 54) solid;
}

.href_footer:link{
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

.href_footer:hover{
background-color: rgb(255, 255, 255);
color: red;
}
  

.href_footer:visited{
    text-decoration: none;
    color: black;

}

.business_part{
    margin-left: 60px;
}