.header{
    margin: 0 0 ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 233, 233);
    height: 70px;
    position:fixed;
    z-index: 100;
    
}
.general{
  cursor:pointer;
    pointer-events: auto;
}
.mycount {
  all: unset;
  pointer-events: none;
  position:absolute;
  z-index: 10;
  top: 10px;
  display:block;
  background-color: red;
  width: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  right: 16%;
}

.home{
  margin-left: 10px;
}

.login{
  position: relative;
  right: 20px;
}

.logo{
  width: 50px;
  height: 60px;
}

/*sssssssssssssssssssssssssssss*/

.log_out_img{
  padding-top: 5px;
  width: 40px;
  height: 40px;
}




