.header{
    margin: 0 0 ;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 233, 233);
    height: 70px;
    position:fixed;
    z-index: 100;
    
}
.general{
  cursor:pointer;
    pointer-events: auto;
}
.mycount {
  all: unset;
  pointer-events: none;
  position:absolute;
  z-index: 10;
  top: 10px;
  display:block;
  background-color: red;
  width: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  right: 16%;
}

.home{
  margin-left: 10px;
}

.login{
  position: relative;
  right: 20px;
}

.logo{
  width: 50px;
  height: 60px;
}

/*sssssssssssssssssssssssssssss*/

.log_out_img{
  padding-top: 5px;
  width: 40px;
  height: 40px;
}




.popUpWindow_logOut{
  background-color: rgb(241, 240, 240);
  width: 400px;
  height: 200px;
  color: black;
}


.popUpText_logOut{
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: 80px;
  justify-content: center;
  color: rgb(0, 0, 0);

}

.popUp_buttons{
  width: 40px;
  height: 40px;
  background-color: rgb(189, 189, 189);
  margin-right: 5px;
}


.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

.logOutMain{
  display: block;
}