.home_main_div{
    background-color: rgb(255, 255, 255);

}

.userList{
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;

}

.search{
    width: 300px;
    margin:0 auto;
    padding-bottom: 30px;
}

.priceLabel{
    display: flex;
    justify-content: space-between;
}

.productH{
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 360px;
    margin-bottom: 20px;
    position: relative;
}
.aboveImage{
    height: 75%;
    position: relative;
}

.productH:hover{
    box-shadow: 1px 5px 5px 5px #888888;
}
.priceLabel{
    margin: 0 10px;
}

.mainH{
width: 60%;
background-color: rgb(220, 220, 220);
/* display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap; */
margin:0 auto;

}

.mainH_for_flex{
    display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}
.imageH{
    width: 86%;
    display: flex;
    margin:0 auto;
    opacity: 1;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.buttonsOfImage{
position: absolute;
bottom:10px;
right: 0;
left: 0;
margin: 0 auto;
}
.btnAdd{
    float: right;
    display: block;
    text-decoration: none;
    background: #2f5289;
    color: #eeeeee;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding: 8px 40px;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2s;
    letter-spacing: 1px;
    margin-right: 23px

;
}


.btnAdd:hover{
    background-color: rgb(156, 156, 156);
    box-shadow: 0 2px #666;
}
    .btnAdd:active{
    background-color: rgb(235, 160, 160);
    box-shadow: 0 5px rgb(7, 7, 7);
}

.noResult_image{
    width: 90%;

}
.popUpWindow{
    background-color: rgb(251, 114, 114);
    width: 500px;
    height: 300px;
    opacity: 0.9;

}

.closingLabel{
    line-height:25px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.popUpText{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 110px;
    justify-content: center;
    color: white;

}


.aHref3{
    text-decoration: none;
    background-color: white;
    color: rgb(62, 62, 255);
    font-size: 20px;
    padding: 2px 5px;
    border-radius: 5px;
}


.popUpWindowItem{
    width: 250px;
    height: 340px;
    background-color: rgb(243, 243, 243);
    opacity: 0.8;
    position: absolute;
    left: 300px;
    top: -322px;
    z-index: 100;

}

.iiitemWindow{
    position: relative;
    right: 0px;
}

.textAdded{
    color: green;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 10px;
}

.searchFromAbove{
    position: fixed;
    top: 10px;
    z-index: 1000;
    margin-left: 40%;
}

.filter_image{
    width: 40px;
    height: 40px;
}

.logoA_div{
    background-color: #fff;
}

.logoA{
    width: 100%;
    padding-bottom: 110px;
}

.text{
    color:rgb(93, 93, 93);
    text-shadow: 0px 1px #000000;
}

.heart{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top:0
}


.noResult{
    width: 100%;
    background-color: #ffffff;
}

.noResult_text{
    font-size: 30px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 127px 0;    
}

@media  screen and (max-width: 1100px) {
    .searchFromAbove{
        position: relative;
        margin:0 auto;
        z-index: 0;
    }
}

@media  screen and (max-width: 600px) {
.App{
    max-width: 600px;
}
.logoA{
    display: none;
}
.search{
    margin-top: 30px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:0 40px;
    font-size: 14px;
}
.menu>li{
    width: 100px;
    text-align: center;
}
.menu:last-child{
    padding-right: 0;
}
.menu:first{
    padding-left: 20px;
}
}
.category_select{
    z-index: 1000;
}

.recommend_you{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
}