.registerBlock{
background-color: rgb(247, 233, 208);
display: flex;
padding-right: 100px;

}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.block{
    margin:0px 40%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    padding-left: 30px;


}

.btnRegister{
    background-color: rgb(247, 146, 146);
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 6px;
}

.btnRegister:active,.btnRegister:hover {
    font-size: 21px;
    border: 1px solid rgb(66, 66, 66);
background-color: rgb(177, 177, 177);
}

.inputStyle{
    width: 250px;
    height: 37px;
    border: none;
    text-indent: 10px;
    font-size: 18px;
    display: flex;
    margin:0 auto;
    border: 1px rgb(116, 116, 116) solid;
    border-radius: 8px;
}

.inputStyle:focus {
    background-color: rgb(248, 248, 171);
    outline: none;
  }

  .registerbtn{
    text-align: center;
  }

.success{
display: block;
position:absolute;
z-index: 100;
background-color: rgb(255, 181, 181);
opacity: 0.8;
width: 100px;
height: 100px;
/* margin: 100px; */
top: 40%;
left: 40%;
margin-top: -50px;
margin-left: -50px;
width: 300px;
height: 100px;
}
.gender{
    width: 70%;
    height: 30px;
    display: flex;
    margin:0 auto;
}

.registration_block_part{
    width: 400px;
    background-color: rgb(255, 255, 255);
    height: 360px;
    border: 1px rgb(116, 116, 116) solid;
    border-radius: 8px;
    box-shadow: 1px 3px 3px 3px #818181;
}