.menu{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 19px;
    position: relative;
    background-color:#c68139;
}

.menu:hover{
    transition: 0.5s;
background-color: #ce9e6b;

}


.menu > li{
    list-style-type: none; 
    text-transform: uppercase;
    padding-right: 10%;
    padding-right: 50px;
    cursor: pointer;
    color: white;

}

.category_select{
    display: none;
    position: absolute;
    left: 0;
    background-color:#c68139;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    /* text-align: center; */

}

.collection_flex{
    display: flex;
    justify-content: center;
}
.collection_flex>div{
    padding-right: 130px;
}

.category_text{
    text-transform: none;
    text-decoration: none;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 5px;
    cursor: pointer;

}

.link_category{
    text-decoration: none;
}

.menu_href{
    text-decoration: none;
    color: white;
}

.menu_href:visited{
color: white;
}